<!DOCTYPE html>
{% load academy_extras %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список Групп</title>
</head>
<body>
{% include "base/header.html" %}
  {% if user.is_staff %}  <button style="width: 30%;display: block;margin: 20px auto;"><a href="{% url 'add_course' %}" style="display: block;width: 100%;height: 100%;color: black;"><i class="fas fa-plus-square"> Добавить Группу</i></a></button>{% endif %}
<div class="container">
  <div class="row">
{% for group in groups %}

<div class="card border-success mb-4 col-4" style="max-width: 18rem;margin: 30px auto;">
  <div class="card-header bg-transparent border-success">Группа: {{ group.course }}<br>Учитель:  {{ group.teacher }} <br> Количество студентво: {{group.students|get_students}}</div>
  <div class="card-body text-success">
      {% for student in group.students.all %}
         <h5 class="card-title"> {{ student.first_name }}  {{ student.last_name }} </h5>
         <p class="card-text"> Почта: {{ student.email }} </p>
      {% endfor %}
  </div>
  {% if user.is_staff %}<div class="card-footer bg-transparent border-success" style="margin: 10px auto; font-size: 20px;"><a href="{% url 'edit_group' id=group.id %}"><i class="fas fa-edit"></i></a> <a href="{% url 'delete_group' id=group.id %}"><i class="far fa-trash-alt"></i></a></div>{% endif %}
</div>
{% endfor %}
    </div>
</div>
</body>
</html>