<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список Учителей</title>
</head>
<body>
{% include "base/header.html" %}
 <button style="width: 30%;display: block;margin: 20px auto;"><a href="{% url 'add_teacher' %}" style="display: block;width: 100%;height: 100%;color: black;"><i class="fas fa-plus-square"> Добавить Учителя</i></a></button>
<div class="container">
  <div class="row">
{% for lecturer in lecturers %}

<div class="card col-4" style="width: 18rem; margin: 30px auto; text-align: center">
    <img src="https://files.adme.ru/files/news/part_165/1658265/8881915-41015510-3-0-1514194738-1514194747-1500-1-1514194747-650-bf931488f4-1514279441.jpg" width="262" height="336" class="card-img-top" alt="{{ lecturer.first_name }} {{ lecturer.last_name }}">
    <div class="card-body">
        <h5 class="card-title">{{ lecturer.first_name }} {{ lecturer.last_name }}</h5>
        <p class="card-text">{{ lecturer.email }}</p>
        <p style="font-size: 25px; padding: 0"><a href="{% url 'edit_lecturer' id=lecturer.id %}"><i class="fas fa-edit"></i></a> <a href="{% url 'delete_lecturer' id=lecturer.id %}"><i class="far fa-trash-alt"></i></a></p>
  </div>
</div>

{% endfor %}
    </div>
</div>
</body>
</html>