<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список Учителей</title>
</head>
<body>
{% include "base/header.html" %}
 {% if user.is_staff %}<button style="width: 30%;display: block;margin: 20px auto;"><a href="{% url 'add_teacher' %}" style="display: block;width: 100%;height: 100%;color: black;"><i class="fas fa-plus-square"> Добавить Учителя</i></a></button>{% endif %}
<div class="container">
  <div class="row">
{% for lecturer in lecturers %}

<div class="card col-4" style="width: 18rem; margin: 30px auto; text-align: center">
    <img src="{{lecturer.avatar.url}}" width="262" height="336" class="card-img-top" alt="{{ lecturer.first_name }} {{ lecturer.last_name }}">
    <div class="card-body">
        <h5 class="card-title">{{ lecturer.first_name }} {{ lecturer.last_name }}</h5>
        <p class="card-text">{{ lecturer.email }}</p>
       {% if user.is_staff %} <p style="font-size: 25px; padding: 0"><a href="{% url 'edit_lecturer' pk=lecturer.id %}"><i class="fas fa-edit"></i></a> <a href="{% url 'delete_lecturer' pk=lecturer.id %}"><i class="far fa-trash-alt"></i></a></p>{% endif %}
  </div>
</div>

{% endfor %}
    </div>
</div>
</body>
</html>